<div layout-gt-sm="row" layout="column">
	<div flex layout="row">
		<div flex class="promo-item">
			<div>
				<span class="md-caption">Net profit</span>
				<br/>
				<h5 class="thin-lage-number">{{$ctrl.statsAtributes.netProfit.getIt($ctrl.inStream)}}<hr ng-class="{good: $ctrl.statsAtributes.netProfit.good($ctrl.inStream), bad: $ctrl.statsAtributes.netProfit.bad($ctrl.inStream)}"></h5>
			</div>
		</div>
		<div flex class="promo-item">
			<span class="md-caption">Average trade</span>
			<br/>
			<h5 class="thin-lage-number">{{$ctrl.statsAtributes.avarageTrade.getIt($ctrl.inStream)}}<hr ng-class="{good: $ctrl.statsAtributes.avarageTrade.good($ctrl.inStream), bad: $ctrl.statsAtributes.avarageTrade.bad($ctrl.inStream)}"></h5>
		</div>
	</div>
	<div flex layout="row">
		<div flex class="promo-item">
			<span class="md-caption">Profit factor</span>
			<br/>
			<h5 class="thin-lage-number">{{$ctrl.statsAtributes.profitFactor.getIt($ctrl.inStream)}}<hr ng-class="{good: $ctrl.statsAtributes.profitFactor.good($ctrl.inStream), bad: $ctrl.statsAtributes.profitFactor.bad($ctrl.inStream)}"></h5>
		</div>
		<div flex class="promo-item">
			<span class="md-caption">Profitable trades</span>
			<br/>
			<h5 class="thin-lage-number">{{$ctrl.statsAtributes.partProfitableTrades.getIt($ctrl.inStream)}}<hr ng-class="{good: $ctrl.statsAtributes.partProfitableTrades.good($ctrl.inStream), bad: $ctrl.statsAtributes.partProfitableTrades.bad($ctrl.inStream)}"></h5>
		</div>
	</div>
</div>
