tb-stream-stats-promo {
	text-align: center;
	h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	small {
		color: lighten($dark-font-color, 55%);
	}
	.good {
		background-color: $background-color-good;
	}
	
	.bad {
		background-color: $background-color-bad;
	}
	

	
		.promo-item {
		text-align: center;
		margin-top: 2em;
		margin-bottom: 2em;
		margin-left: 1em;
		margin-right: 1em;
		
		h5 {
			margin-top: 0px;
			padding: 3px;
			margin-top: 4px;
		}
		
		.good {
				background-color: #4CAF50;
		}
		
		.bad {
			background-color: #F44336;
		}
		
		hr {
			margin-top: 2px;
			border-width: 0px;
    	height: 1px;
		}
		
	}
	
}