<div flex layout-gt-sm="row" layout="column" layout-fill layout-column flex>
	<div flex ng-class="{good: ctrl.netProfit > 0, bad: ctrl.netProfit < 0}">
		<div class="promo-item">
			<small>Net Profit</small>
			<br/>
			<h3 class="md-display-1">{{ctrl.netProfit | number:2}} %</h3>
		</div>
	</div>
	<div flex ng-class="{good: ctrl.averageTrade > 0, bad: ctrl.averageTrade < 0}">
		<div class="promo-item">
			<small>Average Trade</small>
			<br/>
			<h3 class="md-display-1">{{ctrl.averageTrade | number:2}} %</h3>
		</div>
	</div>
	<div flex ng-class="{good: ctrl.partProfitableTrads > 50, bad: ctrl.partProfitableTrads < 50}">
		<div class="promo-item">
			<small>Profitable Trades</small>
			<br/>
			<h3 class="md-display-1">{{ctrl.partProfitableTrads | number:2}} %</h3>
		</div>
	</div>
	<div flex ng-class="{good: ctrl.profitFactor > 1, bad: ctrl.profitFactor < 1}">
		<div class="promo-item">
			<small>Profit Factor</small>
			<br/>
			<h3 class="md-display-1">{{ctrl.profitFactor | number:2}}</h3>
		</div>
	</div>
</div>