<div class="stream-stats">
  <h4 class="md-headline center">{{$ctrl.inName}}</h4>
  <table>
    <tr ng-repeat="attribute in $ctrl.inAttributes" ng-class="{good: attribute.good($ctrl.inStream), bad: attribute.bad($ctrl.inStream)}">
      <td>
        <span class="tooltip-item table-header">
              {{attribute.name}}
            </span>
        <md-tooltip ng-if="attribute.description">
          {{attribute.description}}
        </md-tooltip>
      </td>
      <td>{{attribute.getIt($ctrl.inStream)}}</td>
    </tr>
  </table>
</div>