tb-stream-new-dialog {
    	width:500px;
        .center {
            align-content: center;
            align-items: center;
        }
        
        md-icon {
            font-size: 2em!important;
        }
}