<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>Create Stream</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="ctrl.cancel()">
      <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-dialog-content>

  <form flex novalidate name="subscribeForm" ng-hide="ctrl.wating || ctrl.error">
    <div class="md-dialog-content" layout="column">
      <md-input-container flex>
        <label>Stream name</label>
        <input required ng-minlength="4" ng-maxlength="20" ng-trim="true" ng-pattern="/^[a-zA-Z1-9\_\- ]{4,20}$/" name="streamName"
        type="text" ng-model="ctrl.stream.name" />
        <small>we retain the right to change or remove the stream's name at any time for any reason</small>
      </md-input-container>

      <md-input-container flex>
        <label>Payout Bitcoin address</label>
        <input required name="payoutAddress" ng-trim="true" type="text" ng-pattern="/^[13][a-km-zA-HJ-NP-Z0-9]{26,34}$/" ng-model="ctrl.stream.payoutAddress"/>
       <!---  
        <small>WARNING: The payout address can not be changed later!</small>
        --->
        <small>You can use this example address during the alpha test phase.</small>
      </md-input-container>

      <div layout="row" flex>
        <md-input-container flex>
          <label for="subscriptionPriceUSD">Subscription price ($USD)</label>
          <input required type="number" min="3" max="9999" ng-model="ctrl.stream.subscriptionPriceUSD" id="subscriptionPriceUSD" placeholder="$"
          ng-init="ctrl.stream.subscriptionPriceUSD=5" />
        </md-input-container>

        <md-input-container flex>
          <label for="exchange">Exchange:</label>
          <md-select id="exchange" ng-model="ctrl.stream.exchange" ng-init="ctrl.stream.exchange='bitfinex'">
            <md-option value="bitfinex">Bitfinex</md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex>
          <label for="currencyPair">Currency pair:</label>
          <md-select id="currencyPair" ng-model="ctrl.stream.currencyPair" ng-init="ctrl.stream.currencyPair='btcUSD'">
            <md-option value="btcUSD">BTC/USD</md-option>
          </md-select>
        </md-input-container>
      </div>

      <md-button flex ng-hide="ctrl.waitForResponds" ng-disabled="!subscribeForm.$valid" class="md-raised md-accent btc-pay-button"
      type="submit" ng-click="ctrl.createStream(ctrl.stream)" value="Submit" style="margin:0">create stream</md-button>
    </div>

  </form>

  <div class="md-dialog-content center" flex layout="row" layout-align="center center">
    <div ng-hide="!ctrl.error" flex="20">
      <md-icon class="material-icons">error</md-icon>
    </div>
    <div ng-hide="!ctrl.error" flex>{{ctrl.error}}</div>
    <div>
      <md-progress-circular class="waiting" md-mode="indeterminate" ng-hide="!ctrl.wating" md-diameter="100"></md-progress-circular>
    </div>
  </div>


  <iframe ng-show="ctrl.gotPaymentInfo" id="coinbase_inline_iframe_{{ctrl.coinbaseEmbedCode}}" ng-src="{{ctrl.trustSrc('https://sandbox.coinbase.com/checkouts/' + ctrl.coinbaseEmbedCode + '/inline')}}"
  style="width: 100%; height: 450px; border: none;" allowtransparency="true" frameborder="0"></iframe>


</md-dialog-content>