<section layout="row" flex style="height:100vh;">
	<md-sidenav class="md-sidenav-left md-whiteframe-z2 tb-side-nav show-gt-md" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

		<h1 class="md-display-1 side-nav-layout--logo"><a href="/">TradersBit</a></h1>

		<md-content>
			<md-list>
				<md-list-item ng-click="ctrl.chnageState('home')">
					<md-icon class="material-icons">home</md-icon>
					<p>Home</p>
				</md-list-item>
				<md-list-item ng-click="ctrl.chnageState('home')">
					<md-icon class="material-icons">insert_chart</md-icon>
					<p>Streams</p>
				</md-list-item>
				<md-list-item ng-click="ctrl.chnageState('home')">
					<md-icon class="material-icons">settings_remote</md-icon>
					<p>Publish</p>
				</md-list-item>
				<md-list-item ng-click="ctrl.chnageState('home')">
					<md-icon class="material-icons">help</md-icon>
					<p>Help</p>
				</md-list-item>
				<md-list-item ng-click="ctrl.chnageState('home')">
					<md-icon class="material-icons">business</md-icon>
					<p>About</p>
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>

	<md-sidenav class="md-sidenav-left md-whiteframe-z2 tb-side-nav-mini hide-gt-md" md-component-id="left" md-is-locked-open="true">
		<h1 class="md-display-1 side-nav-layout--logo"><a href="/">TB</a></h1>
		<md-content>
			<md-list>
				<md-list-item ng-click="ctrl.chnageState('home')">
					<md-icon class="material-icons">home</md-icon>
				</md-list-item>
				<md-list-item ng-click="ctrl.chnageState('home')">
					<md-icon class="material-icons">insert_chart</md-icon>
				</md-list-item>
				<md-list-item ng-click="ctrl.chnageState('home')">
					<md-icon class="material-icons">settings_remote</md-icon>
				</md-list-item>
				<md-list-item ng-click="ctrl.chnageState('home')">
					<md-icon class="material-icons">help</md-icon>
				</md-list-item>
				<md-list-item ng-click="ctrl.chnageState('home')">
					<md-icon class="material-icons">business</md-icon>
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>

	<md-content role="main" layout="column" flex ng-transclude>
		<!-- route output here -->
	</md-content>
</section>