tb-side-nav-layout {
  
  .twitter-follow-button {
    margin-bottom: 60px;
  }
  
  .main-screen {
    //max-height: 100%!important;
  }
  .release-notes-link {
    color: lighten(#000, 30%);
    text-decoration: none;
  }
  
  .star {
    //color: $secondary-color-dark;  
  }
  
  .sidenav-outer {
    @media screen and (min-width: 960px) {
      width: 190px !important;
      min-width: 190px !important;
      max-width: 304px !important;
    }
  }
  .sidenav-fixed {
    width: 190px !important;
    min-width: 190px !important;
    max-width: 304px !important;
    position: fixed !important;
  }
  .tb-side-nav-mini-outer {
    width: 55px !important;
    min-width: 55px !important;
    max-width: 55px !important;
    .logo {
      height: 50px;
      margin-bottom: 0px;
      margin-top: 10px;
    }
  }
  .tb-side-nav-mini-fixed {
    width: 55px !important;
    min-width: 55px !important;
    max-width: 55px !important;
    position: fixed !important;
  }
  .side-nav-layout--logo {
    text-align: center;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .sidenav-icons {
    overflow-x: hidden;
  }
  .disclamer {
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 0;
  }
  footer {}
  .active {
    background-color: $active-color;
  }
  .alpha {
    margin-top: 0;
    padding-top: 0;
    color: red;
  }
  .no-margin-top {
    margin-top: 0;
  }

.logo-link {
  width: 100%;
  text-align: center;
  @media screen and (max-width: 600px) {
  //padding: 15px;
  }

}

  .logo {
    height: 30px;
    margin: auto;
    margin-top: 20px;
  }
  
  .release-notes-link {
    text-align: left;
  }
  .nav-top-logo {
    padding-bottom: 10px;
  }

}
