tb-sign-in {
  .a0-footer {
   display: none !important;
  }
  
  .md-headline {
    background-color: $background-color-good; 
    padding: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  #a0-onestep {
    margin: auto;
  }
}