tb-stream {
	md-toolbar {
		color: $light-font-color !important;
		button {
			color: $light-font-color !important;
		}
	}
	
	.google-chart-outer {
		background-color: black;
		width: 100%;
	}
	
	tb-stream-average-trade-chart{
		margin-top: 2em;
		margin-bottom: 2em;
	}
	
	tb-stream-piechart-trades {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	
	.two-chart-row {
		margin-top: 2em;
		margin-bottom: 1em;
	}
	
	md-divider {
    	margin-left: 0 !important;
    	margin-right: 0 !important;
	}
	
  md-toolbar {
    md-icon {
      color: $light-font-color !important;
    }
  }
	
  .fab-buttom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    
    md-icon {
      color: $light-font-color !important;
    }
  }
}