<div layout="column" layout-margin layout-fill layout-padding layout-align="center center">

  <div flex class="stream-chart" layout="column" layout-margin layout-fill layout-padding>
    <!--
    <div class="google-chart" google-chart chart="ctrl.zoomChart" ng-if="ctrl.zoomChart">
    </div>
    -->
    <div flex layout="row" ng-if="ctrl.zoomChart">
      <div flex google-chart chart="ctrl.zoomChart"></div>
    </div>

  </div>

  <md-button class="md-primary md-raised subscribe-button" ng-click="ctrl.openSubscriptionDialog($event)" flex flex-md="100">
    <h3>Subscribe for {{ctrl.stream.subscriptionPriceUSD | currency:"$"}} ≈ ฿{{ctrl.subscriptionPriceBTC | number:4}}</h3>
  </md-button>

  <div flex layout="row" layout-sm="column" layout-margin layout-fill layout-padding>
    <tb-info-table in-stream="ctrl.stream" in-attributes="ctrl.infoAttributes" in-name="Info"></tb-info-table>
    <tb-info-table in-stream="ctrl.stream" in-attributes="ctrl.statsAttributes" in-name="Stats"></tb-info-table>
  </div>

  <tb-trades-table in-trades="ctrl.trades"></tb-trades-table>

</div>