tb-subscription-dialog {
	max-width: 500px;
	text-align: center;
  
  @media screen and (max-width: 600px) {
    max-width: 600px;
  }
  
    @media screen and (min-width: 600px) {
          min-width: 450px;
  }

	
	md-toolbar {
		color: $light-font-color !important;
	}
	
		h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	small {
		color: lighten($dark-font-color, 55%);
	}
	
	.recaptcha {
		  align-self: center;
			padding: 1em;
      min-height: 110px;
	}
	
	.signals-to-email {
		    margin-bottom: 0px;
	}
	
	md-progress-circular {
		align-self: center;
    margin: auto;
	}
  
  md-icon {
    color: $light-font-color !important;
  }
  
    a {
    color: $dark-link-color;
  }
    
		.api-permissions {
			text-align: left;

		}
		
		form {
			text-align: left;
		}
		
		.autotrader-read-about{
			    margin-top: 0;
		}
}