<md-content>

	<div layout layout-align="center center">

		<div flex flex-gt-lg="90">
			<table class="streams-table click-table">
				<thead>
					<tr>
						<th ng-repeat="atribute in ctrl.inAttributes()">
							<a class="md-subhead table-header" href="" ng-click="ctrl.order(atribute.jsonPath)">{{atribute.short}}</a>
							<span class="sortorder" ng-show="ctrl.predicate === atribute.jsonPath">
                				<i class="material-icons" ng-hide="ctrl.reverse">arrow_drop_down</i>
                				<i class="material-icons" ng-show="ctrl.reverse">arrow_drop_up</i>
              				</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="stream in ctrl.inStreams() | orderBy:ctrl.predicate:ctrl.reverse" ng-click="ctrl.goTo('/streams/' + stream.id)">
						<td ng-repeat="atribute in ctrl.inAttributes()" style="pointer:cursor">
							{{atribute.getIt(stream)}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</md-content>