<md-toolbar hide-gt-xs>
  <div class="md-toolbar-tools">
    <md-button ng-click="ctrl.toggleMenu()" class="md-icon-button" aria-label="Favorite">
      <md-icon class="material-icons">menu</md-icon>
    </md-button>
    <span flex></span>
  </div>
</md-toolbar>

<div class="home--promo-top">
  <img src="/assets/logo/full-logo-light.svg" alt="Bitcoin image" height="200">
  <p>
    TradersBit is a marketplace for streams of Bitcoin trading signals.
  </p>
  <p>
    You can make money by subscribing to statistically analyzed streams of trading signals,
    <br>or you can publish your own trading signals and sell subscriptions to it.
  </p>
</div>

<div class="top-stream-outer" layout="row" layout-align="center">
  <md-content class="md-whiteframe-15dp top-stream-card" flex flex-gt-md="75">
    <md-subheader>
      <h6 class="md-title center">Top streams</h6></md-subheader>
    <tb-streams-table in-streams="ctrl.top5Streams;" in-attributes="ctrl.attributes" in-sort-by="'Net Profit'"></tb-streams-table>
  </md-content>
</div>

<section class="steps" layout="row" layout-xs="column" layout-sm="column" layout-md="column" layout-align="center center"
layout-align-gt-md="center">

  <md-content flex flex="90" flex-md="40" flex-gt-md="35" class="subscribe md-whiteframe-15dp">
    <md-list>
      <md-subheader class="md-no-sticky">
        <h6 class="md-title">3 Steps to Subscribe</h6></md-subheader>
      <md-list-item class="md-3-line">
        <md-button class="md-fab" aria-label="Eat cake">
          1
        </md-button>
        <div class="md-list-item-text" layout="column">
          <h3>Find a stream</h3>
          <p>
            Browse and sort streams by checking statistics and previous trades.
          </p>
        </div>
      </md-list-item>
      <md-list-item class="md-3-line">
        <md-button class="md-fab" aria-label="Eat cake">
          2
        </md-button>
        <div class="md-list-item-text" layout="column">
          <h3>Fill in Subscription Informatin</h3>
          <p>
            Click the subscribe button (bottom right corner). Fill in your email address for receiving trading signals, and if you want
            to use the auto trader, fill in the API keys (coming soon).
          </p>
        </div>
      </md-list-item>
      <md-list-item class="md-3-line">
        <md-button class="md-fab" aria-label="Eat cake">
          3
        </md-button>
        <div class="md-list-item-text" layout="column">
          <h3>Pay</h3>
          <p>
            Pay with Bitcoin. After payment, you will receive trading signals by email, and/or have the trading signals automatically
            traded for you. </p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>

  <md-content flex flex-offset-gt-md="5" flex="90" flex-md="40" flex-gt-md="35" class="publish md-whiteframe-15dp">
    <md-list>
      <md-subheader class="md-no-sticky">
        <h6 class="md-title">3 Steps to Publish</h6></md-subheader>
      <md-list-item class="md-3-line">
        <md-button class="md-fab" aria-label="Eat cake">
          1
        </md-button>
        <div class="md-list-item-text" layout="column">
          <h3>Sign Up as a Publisher</h3>
          <p>Go to "Publish" and click "Sign Up".</p>
        </div>
      </md-list-item>
      <md-list-item class="md-3-line">
        <md-button class="md-fab" aria-label="Eat cake">
          2
        </md-button>
        <div class="md-list-item-text" layout="column">
          <h3>Create a Stream</h3>
          <p>
            After you have signed in, click the new stream button in the bottom right corner. Fill in a stream name and your Bitcoin
            address for payouts to you (for subscriptions and contest winnings). Then select initial subscription price.
          </p>
        </div>
      </md-list-item>
      <md-list-item class="md-3-line">
        <md-button class="md-fab" aria-label="Eat cake">
          3
        </md-button>
        <div class="md-list-item-text" layout="column">
          <h3>Submit Signals</h3>
          <p>
            Click SHORT, CLOSE, or LONG to send signals. Or generate an API key for sending signals through our
            <a href="" ng-click="ctrl.goToApiHelp()">API</a>.
          </p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>

</section>


<div class="home--features-outer">
  <div layout="row" class="home--features-row" layout-align="center center">
    <div class="home--features-row-inner" flex="90" flex-gt-md="75" flex-xs="100" layout="row" layout-xs="column" layout-align="center start">
      <div class="home--features-row--item" flex>
        <md-icon class="material-icons">settings_remote</md-icon>
        <p>Publish streams and sell subscriptions to your streams. Send signals to your streams through our website.</p>
      </div>
      <div class="home--features-row--item" flex>
        <img src="/assets/images/robot16.svg" alt="Trading Robot" height="90px">
        <p>Connect your trading bots through our <a href="" ng-click="ctrl.goToApiHelp()">API</a>.</p>
      </div>
      <div class="home--features-row--item" flex>
        <md-icon class="material-icons">settings_input_antenna</md-icon>
        <p>Subscribe to streams. Get signals by email or use autotrader (coming soon).</p>
      </div>
      <div class="home--features-row--item" flex>
        <md-icon class="material-icons">trending_up</md-icon>
        <p>Sort streams by net profit, average monthly return, and more. Statistics include trading fees.</p>
      </div>
    </div>
  </div>
</div>


<div layout="row" layout-align="center">
  <div flex="60" flex-gt-md="50" flex-xs="100" layout="row">
    <div flex class="how-it-works-text">
      <h3 class="md-display-2 center">How it works</h3>
      <p>
        TradersBit is a marketplace for streams of Bitcoin trading signals.
      </p>
      <p>
        Publishers create streams, send trading signals to streams, and sell subscriptions to streams. Statistics for each stream's
        performance is computed and displayed in the marketplace. The statistics include trading fees (unless explicitly
        stated otherwise).
      </p>
      <p>
        Subscribers can browse and sort streams based on average monthly profit, average trade, and other indicators. When subscribing
        to a stream, the subscriber can get signals sent by email, or the signaled trade can be executed automatically on
        the subscriber's behalf (coming soon).
      </p>
      <p>
        The publisher decides the subscription fee (monthly fee), and when a subscription is sold, the publisher immediately receives
        70% of the subscription fee.
      </p>
      <p>
        Upon the reception of a trading signal, we simulate the trade (including trading fees). This way, there is now a way for
        the publishers to manipulate statistics.
      </p>
      <p>
        There is no social interaction in this marketplace because the statistics and trading signals speak for themselves. This
        way, subscribers will not be easily scammed. A subscriber should not know or care whether signals are sent manually
        by a teenager or an MBA graduate or automatically generated by a trading boot (algorithm trading).
      </p>
      <p>
        Signals can be published through our website, mobile app, or API.
      </p>
      <p>
        Our API makes it possible to write trading systems in any programming language and easily integrate it with existing trading
        systems (bots).
      </p>
      <p>
        TradersBit will also host trading competitions. For instance, most profitable streams last 30 days, etc. All rewards are
        in Bitcoins.
      </p>
    </div>

  </div>
</div>