tb-home {
.home--promo-top {
    padding: 7em;
    padding-top: 10em;
    padding-bottom: 5em;
    background-color: $primary-color;
    text-align: center;
    color: $light-font-color;
    font-weight: 400;
}

.home--features-row {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    
    md-icon {
        font-size: 4em;
    }
}

md-card {
    min-height: 300px;
}

.mailchimp {
  background-color: $secondary-color; 
}

#mc-embedded-subscribe {
    margin-top: 5px;
    margin-bottom: 20px;
    color: $light-font-color;
}

form {
    width: 600px; 
}

p {
  text-align: center;
  margin-bottom: 0px;
}

.email-row {
    padding-right: 20px;
     @media screen and (max-width: 600px) {
      margin-bottom: 0px;
  }
}

}