tb-home {
  //font-size: 1.15em;

  a {
    color: $light-link-color;
  }
  .relese {
    bottom: 0;
  }
  md-card {
    max-width: 500px;
  }

  .home--promo-top {
    padding-top: 300px;
    padding-bottom: 200px;
    background-color: $primary-color;
    text-align: center;
    color: $light-font-color;
    font-weight: 400;
      background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      transparentize($third-color-dark, 0.3),
      transparentize($primary-color, 0.03),
      transparentize($primary-color, 0.05)
    ),
    /* bottom, image */
    url("/assets/images/bitcoin-promo.jpg");
    background-size: cover;

    @media screen and (max-width: 600px) {
      padding-top: 50px;
      padding-bottom: 100px;
    }
  }
  .home--features-row {
    text-align: center;
    padding-top: 84px;
    padding-bottom: 60px;
    margin-bottom: 0;
    //max-width: 1500px;
    margin: auto;
    md-icon {
      font-size: 4em;
    }
  }
  md-toolbar {
    background-color: $primary-color !important;
  }
  .home--features-outer {
    background-color: $third-color-light; //$third-color-light; //dsfdsfds
    color: $light-font-color;
    md-icon {
      color: $light-font-color;
    }
  }
  .home--features-row-inner {
    @media screen and (max-width: 600px) {
      display: block !important;
    }
  }
  .home--features-row--item {
    @media screen and (max-width: 600px) {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 30px;
    }
  }
  .mailchimp {
    background-color: $secondary-color;
    .email-row {
      font-size: 20px;
      height: 40px;
    }
    form {
      margin: 30px;
      @media screen and (max-width: 600px) {
        display: block !important;
      }
      @media screen\0 {
        margin-top: 40px;
        display: block !important;
      }
    }
    #mc-embedded-subscribe {
      margin-top: 5px;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 0;
    }
  }
  .bitcoin-promo-image {
    background-image: url(/assets/images/bitcoin32.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 300px;
    width: 100%;
    max-width: 300px;
  }
  .outer-bitcoin-promo-image {
    padding: 30px;
  }
  .text-content {
    font-size: 1.4em;
    max-width: 600px !important;
  }
  .readmore-button {
    margin-left: 0 !important;
  }
  .how {
    //min-height: 1100px;
  }
  md-toolbar {
    md-icon {
      color: $light-font-color !important;
    }
  }
  .md-fab {
    color: $light-font-color !important;
    font-size: 90px;
  }
  .publish {
    //background-color: $third-color;
    @media only screen and (min-width: 1280px) {
      /* For desktop: */
    }
    .md-fab {
      background-color: $third-color-light!important;
    }
  }
  .subscribe {
    //background-color: $secondary-color;
    .md-fab {
      background-color: $third-color-light!important;
    }
  }
  .steps {
    //background-color: $third-color-dark;
    //background-color: $third-color-dark;
    //$primary-color
    //min-height: 700px;
    // IE: screen\0
    @media only screen and (max-width: 1280px) {
      display: block;
    }
    @media only screen and (max-width: 599px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media only screen and (max-width: 960px) and (min-width: 600px) {
      padding-left: 50px;
      padding-right: 50px;
    }
    margin-top: 20px;
    margin-bottom: -30px;
    .md-fab {
      cursor: default;
    }
    .publish {
      @media only screen and (max-width: 1280px) {
        margin-top: 20px !important;
      }
    }
    md-content {
      //max-width: 550px;
      padding-right: 20px;
      @media only screen and (max-width: 1280px) {
        margin: 0 auto !important;
      }
      @media only screen and (max-width: 1280px) and (min-width: 960px) {
        max-width: 700px !important;
      }
      a {
        color: black;
      }
    }
  }
  .top-stream-card {
    @media only screen and (max-width: 1280px) and (min-width: 960px) {
      max-width: 700px !important;
    }
  }
  md-list {
    padding: 0;
  }
  md-list-item {
    //margin-top: 50px !important;
    margin-bottom: 50px !important;
    button {
      margin-right: 40px! important;
    }
  }
  .how-it-works-row {
    //background-color: $secondary-color !important;
  }
  .how-it-works-text {
    // background-color: $third-color;
    margin: 10px;
    //max-width: 500px;
    padding: 0 30px;
    //margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  md-list .md-subheader {
    background-color: transparent!important;
  }
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .top-stream-outer {
    @media only screen and (max-width: 1280px) {
      display: block;
    }
    @media only screen and (max-width: 599px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media only screen and (max-width: 960px) and (min-width: 600px) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  .top-stream-card {
    md-content {
      //max-width: 550px;
      padding-right: 20px;
      @media only screen and (max-width: 1280px) {
        margin: 0 auto !important;
      }
      @media only screen and (max-width: 1280px) and (min-width: 960px) {
        max-width: 700px !important;
      }
    }
    //margin-top: 20px;
    margin-top: -60px;
    @media only screen and (max-width: 599px) {
      margin-left: 20px;
      margin-right: 20px;
    }
    @media only screen and (max-width: 960px) and (min-width: 600px) {
      margin-left: 50px;
      margin-right: 50px;
    }
    @media only screen and (max-width: 1280px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
.bitcoin-image {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    top: 50%;
    transform: translateY(50%);
    top: 50%;
  }
}

.number-logo {
  z-index: 0 !important;
}

.promo-btn {
  width: 160px;
  margin-top: 20px;
}

}
