.home--promo-top {
    padding: 7em;
    padding-top: 10em;
    padding-bottom: 5em;
    background-color: $primary-color;
    text-align: center;
    color: $light-font-color;
    font-weight: 400;
}
