tb-streams {
md-toolbar {
	color: $light-font-color !important;
	md-icon {
		color: $light-font-color !important;
	}
}
  
 .fab-buttom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    
    md-icon {
      color: $light-font-color !important;
    }
  }
}