tb-streams {
md-toolbar {
	md-icon {
		color: $light-font-color !important;
	}
}
  
 .fab-buttom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    
    md-icon {
      color: $light-font-color !important;
    }
  }
  
  md-input-container {
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom: 0px !important;
  }
  
  .filters{
      background-color: $third-color-light;
      
      label {
        color: #D3D3D3;
      }
  }
}