<md-button class="md-fab fab-buttom-right animated bounce" aria-label="indicators" ng-click="$ctrl.toggleRightSidebar()">
  <md-icon class="material-icons">filter_list</md-icon>
  <md-tooltip md-direction="top" md-visible="true">
    Select indicators
  </md-tooltip>
</md-button>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar class="md-theme-light md-accent md-hue-2">
    <h1 class="md-toolbar-tools">Indicators</h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-list>
      <md-list-item ng-repeat="atribute in $ctrl.tbSession.streams.streamAttributes">
        <p>{{ atribute.name }}</p>
        <md-checkbox class="md-secondary" ng-model="atribute.on"></md-checkbox>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>

<md-content class="filters" md-theme="dark">
  <form name="projectForm" layout="row" layout-xs="column">
    <md-input-container class="active-last" flex>
      <label>Active in the last</label>
      <md-select ng-model="$ctrl.tbSession.streams.activeLastDays">
        <md-option value="30">
          30 days
        </md-option>
        <md-option value="60">
          60 days
        </md-option>
        <md-option value="90">
          90 days
        </md-option>
        <md-option value="All time">
          All time
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex class="md-block">
      <label>Minimun nuber of trades</label>
      <input type="number" name="minimum number of trades" ng-model="$ctrl.tbSession.streams.minNumTrades" min="0"/>
    </md-input-container>
    <md-input-container flex class="md-block">
      <label>Minimun net profit</label>
      <input type="number" name="minimum net profit" ng-model="$ctrl.tbSession.streams.minNetProfit" />
    </md-input-container>
  </form>
</md-content>

<tb-streams-table flex in-streams="$ctrl.inStreams" in-attributes="$ctrl.tbSession.streams.streamAttributes" in-sort-by="NP" in-min-num-trades="$ctrl.tbSession.streams.minNumTrades"
  in-active-last-days="$ctrl.tbSession.streams.activeLastDays" , in-min-net-profit="$ctrl.tbSession.streams.minNetProfit"></tb-streams-table>