<md-toolbar flex>
  <div class="md-toolbar-tools">
    <md-button hide-gt-xs ng-click="ctrl.toggleMenu()" class="md-icon-button" aria-label="Favorite">
      <md-icon class="material-icons">menu</md-icon>
    </md-button>
    <h2>Streams</h2>
    <span flex></span>
  </div>
</md-toolbar>

  <md-button class="md-fab fab-buttom-right" aria-label="indicators" ng-click="ctrl.toggleRightSidebar()">
    <md-icon class="material-icons">filter_list</md-icon>
    <md-tooltip md-direction="left">
      Select indicators
    </md-tooltip>
  </md-button>
  
<tb-streams-table flex in-streams="ctrl.inStreams()" in-attributes="ctrl.streamAttributes" in-sort-by="'NP'"></tb-streams-table>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar class="md-theme-light md-accent md-hue-2">
    <h1 class="md-toolbar-tools">Indicators</h1>
  </md-toolbar>
  <md-content layout-padding>

    <md-list>
      <md-list-item ng-repeat="atribute in ctrl.streamAttributes">
        <p>{{ atribute.name }}</p>
        <md-checkbox class="md-secondary" ng-model="atribute.on"></md-checkbox>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>