<div layout="column" layout-align="center">
  <md-toolbar flex>
    <div class="md-toolbar-tools">
      <small class="ticker">
          <span class="mini">Bitfinex</span>
          <br>
          <span ng-class="{up: $ctrl.up, down: $ctrl.down}">${{$ctrl.btcRate| number:2}}</span>
       </small>
      <span flex class="center"><h2>My streams</h2></span>

      <md-button ng-click="$ctrl.signOut()">
        Sign Out
      </md-button>
    </div>
  </md-toolbar>
  <div class="toolbar-mobile-space"></div>
  <p ng-if="$ctrl.noStreams" class="center">
    Click the "+" icon to create your first stream.
  </p>

  <md-button class="md-fab fab-buttom-right animated bounce" aria-label="add stream" ng-click="$ctrl.openNewStreamDialog($event)">
    <md-icon class="material-icons">add</md-icon>
    <md-tooltip md-direction="top" md-visible="true">
      Create Stream
    </md-tooltip>
  </md-button>

  <tb-publisher-stream ng-repeat="stream in $ctrl.myStreams | orderBy : 'name'" in-stream="stream"></tb-publisher-stream>
</div>