tb-publish {
	.signin-widget {
    margin-top: 4em; 
    margin-bottom: 4em;
  }
  md-toolbar {
    md-icon {
      color: $light-font-color !important;
    }
  }
  
  .md-headline {
    background-color: $background-color-good; 
    padding: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .unsuported-browser {
    color: red;
    display: none;
  }
  
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
      .unsuported-browser {
        display: inline !important;
      }
  }
  
  @media screen and (min-width:0\0) {
         /* IE9 CSS styles go here */
          .unsuported-browser {
        display: inline !important;
      }
  }
  
  #diecinueve {
         /* IE6, IE7, IE8, but also IE9 in some cases */
      .unsuported-browser {
        display: inline !important;
      }
  }

}