tb-publish {
    md-toolbar {
            background-color: $third-color!important; //$third-color-light; //dsfdsfds
            color: white!important;
            
            .md-button {
                color:  $secondary-color!important;
            }

    }
    
	md-dialog {
        width: 500px;
    }
    
    .ticker {
      padding-top: 7px;
      padding-left: 3px;
      padding-right: 3px;
      height: 100%;
      text-align: center;
      font-size: 15px;
      color: #fff;
    }
    
    .mini {
    font-size: 12px;
    color: darken(white, 15%)
  }

  
   .fab-buttom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
  }
  
  @keyframes upAnim {
    from {color: lightgreen;}
    to {color: white;}
}

  @keyframes downAnim {
    from {color: #EE9090;}
    to {color: white;}
}

.up {
    animation-name: upAnim;
    animation-duration: 3s;
}

.down {
    animation-name: downAnim;
    animation-duration: 3s;
}
  
}