<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>API Key</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="ctrl.cancel()">
      <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-dialog-content>
  <div class="md-dialog-content">

    <p ng-hide="ctrl.apiKey">If you have generated an API key before, the old API key will stop working when you generate a new API key.</p>

    <md-button ng-hide="ctrl.apiKey" ng-click="ctrl.getApiKey()" class="md-raised">Generate new API key</md-button>
    <div>
      <textarea ng-hide="!ctrl.apiKey">{{ctrl.apiKey}}</textarea>
    </div>
    <small ng-hide="!ctrl.apiKey">This API key will not be displayed again. If you lose this one, you must generate new..</small>
    <md-button ng-click="ctrl.chnageState('api')">API docs</md-button>

  </div>
</md-dialog-content>