<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>API key</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="ctrl.cancel()">
      <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-dialog-content>
  <div class="md-dialog-content">

    <p ng-hide="ctrl.apiKey">If you have generated an api-key before, the old api-key will stop working when you generate a new api-key.</p>

    <md-button ng-hide="ctrl.apiKey" ng-click="ctrl.getApiKey()" class="md-raised">Generate new api-key</md-button>
    <div>
      <textarea ng-hide="!ctrl.apiKey">{{ctrl.apiKey}}</textarea>
    </div>
    <small ng-hide="!ctrl.apiKey">This api-key will not be displayed again. If you lose this one, you must generate new..</small>
    <p>Read about how to use our API in the help section.</p>
    <md-button ng-click="ctrl.chnageState('help')">Help</md-button>

  </div>
</md-dialog-content>