<md-card>

	<div layout="row" layout-xs="column" layout-sm="column">

		<div flex layout="row" layout-align="center center">
			<img flex="10" ng-src="{{ctrl.logoUrl()}}" alt="exchange logo" />

			<div flex>
				<span class="md-title">Stream Name</span>
				<br>
				<span class="md-subhead">{{ctrl.inStream.id}}</span>
			</div>
		</div>

		<div class="stats" flex="30" flex-xs="100" flex-sm="100" layout="row" layout-align="center center">
			<div flex>
				<small>instrument</small>
				<br/>
				<h6 class="md-title">BTC/USD</h6>
			</div>
			<div flex>
				<small>position</small>
				<br/>
				<h6 class="md-title">{{ctrl.positionString()}}</h6>
			</div>
			<div flex>
				<small>unrealized P/L</small>
				<br/>
				<h6 class="md-title">≈ {{ctrl.unrealizedPL | number:2}}%</h6>
			</div>
		</div>

		<section class="button-section" flex="30" flex-xs="100" flex-sm="100" layout="row" layout-align="center center">
			<md-button class="groupX left short-btn" ng-disabled="ctrl.inStream.lastSignal.signal === -1" flex>SHORT</md-button>
			<md-button class="groupX middle" ng-disabled="ctrl.inStream.lastSignal.signal === 0" flex>CLOSE</md-button>
			<md-button class="long-btn groupX right" ng-disabled="ctrl.inStream.lastSignal.signal === 1" flex>LONG</md-button>
		</section>

	</div>

</md-card>