tb-publisher-stream {
	
	.long-button {
    	background-color: $background-color-good;
		color: white!important;
	}
	
	.short-button {
    	background-color: $background-color-bad;
	}

md-card {
   @media screen and (max-width: 600px) {
       display: block !important;
   }
}

.outer {
   @media screen and (max-width: 600px) {
       display: block !important;
   }
}

md-icon {
      padding-top: 10px;
    padding-bottom: 10px;
}
	
	
	md-card-actions {
		padding: 20px;
	}
	
	md-menu {
		padding: 0px;
	}
	
	.md-button.md-icon-button {
		padding: 0px;	
	}


.stream-name {
	font-variant: small-caps;
	cursor: pointer;
}

.subscription-price {
	padding-left: 16px;
}

  .exchnage-logo {
    width: 120px;
    height: 44px;
  }
  
	h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	small {
		color: rgba(0, 0, 0, 0.54);
	}
	.good {
		background-color: $background-color-good;
	}
	
	.bad {
		background-color: $background-color-bad;
	}
	
	md-card-title {
		    padding-top: 0px;
				padding-bottom: 0px;
	}
	
	md-card-content {
				    padding-top: 0px;
				padding-bottom: 0px;
	}
	

	
	md-content {
		    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
	}
	
	
}