<div class="top-nav" layout="row">
  <a class="logo-link animated fadeInDown" href="/">
    <img class="logo" src="/assets/logo/logo-text.svg" alt="TradesBit logo"> BETA <br>
    <span class="md-caption" ng-if="$ctrl.$state.is('home')">Marketplace for trading signals</span>
  </a>

  <div flex></div>
  <div class="nav-button-group">
    <md-button ng-click="$ctrl.chnageState('home')" ng-class="{active: $ctrl.$state.is('home')}">Home</md-button>
    <md-button ng-click="$ctrl.chnageState('streams')" ng-class="{active: $ctrl.$state.is('streams')}">Detail View</md-button>
    <md-button ng-click="$ctrl.clickPublish()" class="md-primary" ng-class="{active: $ctrl.$state.is('publish')}">+ Publish</md-button>
  </div>
</div>