<div class="top-nav" layout="row">
  <a class="logo-link" href="/">
    <img class="logo" src="/assets/logo/logo-text.svg" alt="TradesBit logo">
  </a>
  <div flex></div>
  <md-button ng-click="$ctrl.chnageState('home')" ng-class="{active: $ctrl.$state.is('home')}">Home</md-button>
  <md-button ng-click="$ctrl.chnageState('streams')" ng-class="{active: $ctrl.$state.is('streams')}">Detail View</md-button>
  <md-button ng-click="$ctrl.clickPublish()" class="md-primary" ng-class="{active: $ctrl.$state.is('publish')}">+ Publish</md-button>
</div>