<md-card>
  <md-card-header>
    <div>
      <span class="md-headline stream-name" ng-click="$ctrl.goToStream($ctrl.inStream.id)">{{$ctrl.inStream.name}}</span>
      <small class="stream-period">{{$ctrl.statsAtributes.timeOfFirstSignal.getIt($ctrl.inStream)}} - {{$ctrl.statsAtributes.timeOfLastSignal.getIt($ctrl.inStream)}}</small>
    </div>
    <div flex></div>
    <img class="exchnage-logo" ng-src="assets/images/{{$ctrl.inStream.exchange}}_logo.svg" alt="exchange logo" />
  </md-card-header>
  <md-card-title>
  </md-card-title>
  <md-card-content>
    <div layout-gt-sm="row" layout="column">
      <div flex layout="row">
        <div flex class="promo-item">
          <div>
            <span class="md-caption">Net <br class="breake-line-on-small"/>profit</span>
            <br/>
            <div class="thin-lage-number">{{$ctrl.statsAtributes.netProfit.getIt($ctrl.inStream)}}
              <hr ng-class="{good: $ctrl.statsAtributes.netProfit.good($ctrl.inStream), bad: $ctrl.statsAtributes.netProfit.bad($ctrl.inStream)}">
            </div>
          </div>
        </div>
        <div flex class="promo-item">
          <span class="md-caption">Average <br class="breake-line-on-small"/>monthly</span>
          <br/>
          <div class="thin-lage-number">{{$ctrl.statsAtributes.amp.getIt($ctrl.inStream)}}
            <hr ng-class="{good: $ctrl.statsAtributes.avarageTrade.good($ctrl.inStream), bad: $ctrl.statsAtributes.avarageTrade.bad($ctrl.inStream)}">
          </div>
        </div>
        <div flex class="promo-item">
          <span class="md-caption">Average <br class="breake-line-on-small"/>trade</span>
          <br/>
          <div class="thin-lage-number">{{$ctrl.statsAtributes.avarageTrade.getIt($ctrl.inStream)}}
            <hr ng-class="{good: $ctrl.statsAtributes.avarageTrade.good($ctrl.inStream), bad: $ctrl.statsAtributes.avarageTrade.bad($ctrl.inStream)}">
          </div>
        </div>
        <div flex class="promo-item">
          <span class="md-caption">Profit <br class="breake-line-on-small"/>factor</span>
          <br/>
          <div class="thin-lage-number">{{$ctrl.statsAtributes.profitFactor.getIt($ctrl.inStream)}}
            <hr ng-class="{good: $ctrl.statsAtributes.profitFactor.good($ctrl.inStream), bad: $ctrl.statsAtributes.profitFactor.bad($ctrl.inStream)}">
          </div>
        </div>
        <div flex class="promo-item">
          <span class="md-caption">Number <br class="breake-line-on-small"/>of trades</span>
          <br/>
          <div class="thin-lage-number">{{$ctrl.statsAtributes.numberOfTRades.getIt($ctrl.inStream)}}
            <hr style="background-color:white;">
          </div>
        </div>
      </div>
    </div>
  </md-card-content>
  <md-card-actions layout="row">
    <div flex></div>
    <md-button ng-click="$ctrl.goToStream($ctrl.inStream.id)">Details</md-button>
    <md-button class="md-primary md-raised" ng-click="$ctrl.openSubscriptionDialog($event)">Subscribe for {{$ctrl.inStream.subscriptionPriceUSD | currency:"$"}}</md-button>
  </md-card-actions>
</md-card>