
tb-stream-list-item {

				.breake-line-on-small {
							display: none;
						}


	.promo-item {
		margin-top: 0px;
				margin-bottom: 0px;
				padding-left: 10px;
				padding-right: 10px;
	}

					@media (max-width: 790px) {
					.thin-lage-number {
    				font-size: 19px !important;

						.hr {
							margin: 0px;
							padding: 0px;
							}
						}
		.breake-line-on-small {
							display: block;
						}
					}


.stream-name {
	font-variant: small-caps;
	cursor: pointer;
}

.stream-period {
	    padding-left: 10px;
}

.subscription-price {
	padding-left: 16px;
}

  .exchnage-logo {
    width: 100px;
    height: 20px;
		    padding-top: 10px;
  }
  
	h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	small {
		color: rgba(0, 0, 0, 0.54);
	}
	.good {
		background-color: $background-color-good;
	}
	
	.bad {
		background-color: $background-color-bad;
	}
	
	md-card-title {
		    padding-top: 0px;
				padding-bottom: 0px;
	}
	
	md-card-content {
				    padding-top: 0px;
				padding-bottom: 0px;
	}
	
}