
tb-stream-list-item {

.stream-name {
	font-variant: small-caps;
	cursor: pointer;
}

.subscription-price {
	padding-left: 16px;
}

  .exchnage-logo {
    width: 100px;
    height: 20px;
  }
  
	h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	small {
		color: lighten($dark-font-color, 55%);
	}
	.good {
		background-color: $background-color-good;
	}
	
	.bad {
		background-color: $background-color-bad;
	}
	
	.promo-item {
		text-align: center;
		margin-top: 2em;
		margin-bottom: 2em;
		margin-left: 1em;
		margin-right: 1em;
	}
	
	md-card-title {
		    padding-top: 0px;
				padding-bottom: 0px;
	}
	
	md-card-content {
				    padding-top: 0px;
				padding-bottom: 0px;
	}
	
}